@import "reset";
@import "vendor/bourbon/bourbon";

@include font-face(Whitney, "../fonts/whitney-book-webfont", $file-formats: woff);
@include font-face(Whitney, "../fonts/whitney-medium-webfont", $weight: 500, $file-formats: woff);
@include font-face(Whitney, "../fonts/whitney-semibold-webfont", $weight: 600, $file-formats: woff);
@include font-face(Whitney, "../fonts/whitney-bold-webfont", $weight: 700, $file-formats: woff);

$green: #0f8e44;
$blue: #0555a0;
$white: white;
$yellow: #fced2e;
$black: #2d3439;
$red: #e4463f;

.green {
  background-color: $green;
}

.blue {
  background-color: $blue;
}

.black {
  background-color: $black;
}

.yellow {
  background-color: $yellow;
  border: 1px solid #ddd;
  & > span.value {
    text-shadow:
     -1px -1px 0 #555,
      1px -1px 0 #555,
      -1px 1px 0 #555,
       1px 1px 0 #555,
       0 0 2px #333;
  }
}

.red {
  background-color: $red;
}

.white {
  background-color: $white;
  border: 1px solid #ddd;
  & > span.value {
    text-shadow:
     -1px -1px 0 #555,
      1px -1px 0 #555,
      -1px 1px 0 #555,
       1px 1px 0 #555,
       0 0 2px #333;
  }
}

body {
  font-family: Whitney;
  background: url('../images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.turn-box {
  position: fixed;;
  left: 0;
  bottom: 20px;
  width: 100%;
  // top: 600px;
  .turn-box-inner {
    background-color: #eee;
    border-radius: 3px;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    display: table;
    .your-turn {
      float: left;
      padding: 12px 20px;
      border-right: 1px solid #ddd;
      font-weight: 500;
      background-color: #3b7e9a;
      color: white;
    }
    .actions {
      // float: left;
    }
    .btn {
      border: none;
      background-color: #555;
      color: white;
      padding: 12px 20px;
      font-size: 15px;
      margin: 10px 0;
      border-radius: 4px;
      margin-right: 10px;
      box-shadow: 0 3px 0 shade(#555, 30%);
      &:hover {
        cursor: pointer;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.points {
  font-family: 'Great Vibes', cursive;
  color: white;
  text-shadow:
   -1px -1px 1px #999,
    1px -1px 1px #999,
    -1px 1px 1px #999,
     1px 1px 1px #999,
     0 0 1px #777;
}

.my-panel {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 60px;
  .avatar-wrap {
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    .avatar {
      img {
        width: 100%;
        border-radius: 3px;
      }
    }
    .points {
      text-align: center;
      font-size: 35px;
      padding: 8px 0 3px;
    }
  }
  .handy {
    text-align: center;
    margin-top: 10px;
    position: relative;
    padding: 10px 10px;
    border-radius: 200px;
    box-shadow: 0 3px 0 #aaa;
    background-color: #ddd;
    &:hover {
      cursor: pointer;
      background-color: #d6d6d6;
    }
    span {
      left: 0;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      font-size: 16px;
      margin-top: -8px;
      font-weight: 500;
    }
    i {
      font-size: 39px;
      color: white;
    }
  }
  .collections {
    .item {
      display: table;
      width: 100%;
      padding: 5px;
      background-color: #eee;
      border-radius: 3px;
      box-sizing: border-box;
      margin-top: 10px;
      .mini-card {
        color: white;
        font-weight: 500;
        border-radius: 3px;
        height: 28px;
        width: 41%;
        float: left;
        margin-right: 14%;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          position: absolute;;
          top: 50%;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 13px;
          margin-top: -6.5px;
        }
      }
      .mini-coin {
        float: left;
        border-radius: 99px;
        height: 20px;
        width: 20px;
        position: relative;
        font-size: 13px;
        margin-top: 5px;
        color: white;
        font-weight: 500;
        // border: 1px solid white;
        span {
          left: 0;
          position: absolute;
          width: 100%;
          text-align: center;
          top: 50%;
          margin-top: -6.5px;
        }
      }
    }
  }
}

.players {
  position: fixed;
  right: 20px;
  top: 20px;
  .player {
    margin-bottom: 20px;
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    &:hover {
      cursor: pointer;
      background-color: #ddd;
    }
    .avatar {
      width: 40px;
      height: 40px;
      float: left;
      background-color: white;
      border-radius: 3px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .points {
      font-size: 30px;
      margin-left: 40px;
      text-align: center;
      padding-top: 7px;
    }
  }
}

.main-card-area {
  padding-top: 20px;
  width: 570px;
  margin: 0 auto;
  position: relative;
}

.card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  width: 130px;
  height: 175px;
  // border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #ddd;
  &.white, &.yellow {
    border: none !important;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    background: rgba(255, 255, 255, 0.85);
  }
  &.red {
    background-image: url('../images/red-bg.jpg');
  }
  &.blue {
    background-image: url('../images/blue-bg.jpg');
  }
  &.green {
    background-image: url('../images/green-bg.jpg');
  }
  &.white {
    background-image: url('../images/white-bg.jpg');
  }
  &.black {
    background-image: url('../images/black-bg.jpg');
  }
  .value-gem {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
  }
  .points {
    position: absolute;
    font-size: 35px;
    left: 12px;
    top: 10px;
    text-shadow:
     -1px -1px 1px #777,
      1px -1px 1px #777,
      -1px 1px 1px #777,
       1px 1px 1px #777,
       0 0 1px #555;
  }
  .cost {
    position: absolute;
    left: 8px;
    bottom: 4px;
    text-align: center;
    width: 70px;
    .mini-coin {
      float: left;
      border-radius: 99px;
      height: 30px;
      margin-right: 5px;
      width: 30px;
      border: 2px solid white;
      position: relative;
      font-size: 15px;
      line-height: 28px;
      margin-bottom: 5px;
      color: white;
      box-sizing: border-box;
      font-weight: 500;
      // border: 1px solid white;
      // &.white {}
      &:nth-child(2n) {
        margin-right: 0;
      }
      span {
        left: 0;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        // margin-top: -6.5px;
      }
    }

  }
}

.card-row {
  display: table;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  & > div {
    float: left;
  }
  .card {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.currency-piles {
  position: absolute;
  left: -90px;
  top: 20px;
  .coin-pile {
    border-radius: 999px;
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
    // border: 1px solid #ddd;
    position: relative;

    background-size: 50px,cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;

    box-sizing: border-box;
    &.green {
      background-image:
        url('../images/gems/green.png'),
        url('../images/gems/greenbg.jpg');
      border: 3px solid $green;
    }
    &.white {
      background-image:
        url('../images/gems/white.png'),
        url('../images/gems/whitebg.jpg');
      border: 3px solid $white;
    }
    &.blue {
      background-image:
        url('../images/gems/blue.png'),
        url('../images/gems/bluebg.jpg');
      border: 3px solid $blue;
    }
    &.black {
      background-image:
        url('../images/gems/black.png'),
        url('../images/gems/blackbg.jpg');
      border: 3px solid $black;
    }
    &.red {
      background-image:
        url('../images/gems/red.png'),
        url('../images/gems/redbg.jpg');
      border: 3px solid $red;
    }
    &.yellow {
      background-image:
        url('../images/gems/yellow.png'),
        url('../images/gems/yellowbg.jpg');
      border: 3px solid $yellow;
    }
    &:before {
      content: "";
      border-radius: 999px;
      position: absolute;
      left: -8px;
      top: -8px;
      right: -8px;
      bottom: -8px;
      background-color: #eee;
      z-index: -10;
    }
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -15px;
      left: -30px;
      width: 30px;
      height: 30px;
      background-color: #eee;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      z-index: -10;
    }
    .count {
      position: absolute;
      right: 122%;
      top: 50%;
      margin-top: -8px;
      z-index: 99;
      color: #555;
    }
  }
}

.nobles-list {
  position: absolute;
  right: -105px;
  top: 20px;
  .noble {
    width: 100px;
    height: 105px;
    overflow: hidden;
    border-radius: 4px;
    // border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #ddd;
    margin-bottom: 10px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      background: rgba(255, 255, 255, 0.8);
    }
    .points {
      position: absolute;
      font-size: 40px;
      right: 15px;
      top: 10px;
    }
    .cost {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      box-sizing: border-box;
      padding: 5px;
      .mini-card {
        color: white;
        font-weight: 500;
        border-radius: 3px;
        margin-bottom: 5px;
        height: 28px;
        text-align: center;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        span {
          position: absolute;;
          top: 50%;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 13px;
          margin-top: -6.5px;
        }
      }
    }
  }
}
